version: '3.0'
services:
  # db service
  mysqldb:
    container_name: mysqldb
    image: mysql
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=p@ssw0rd1
    volumes: 
      - mysql:/var/lib/mysql # named volume
      - mysql_config:/etc/mysql # named volume
  # app service
  app:
    container_name: app
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 5000:5000
    volumes:
      - ./:/app
    depends_on:
      - mysqldb
#
volumes:
  mysql:
  mysql_config:
# docker-compose jรก cria uma rede interna automaticamente